@model IEnumerable<EasyInvoiceWeb.ViewModels.InvoiceViewModel>

@{
    ViewData["Title"] = "All Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">All Invoices</h6>
    </div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        @Html.DisplayNameFor(model => model.Client)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Business)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.InvoiceNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IssuedDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DueDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalAmount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{int count = 0;}
                @foreach (var item in Model)
                {
                        count = count + 1;
                        <tr>
                            <td>
@count
</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Client)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Business)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IssuedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DueDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TotalAmount)
                        </td>
                        <td>
                                @if (item.Status == EasyInvoiceWeb.Utilities.Enums.InvoiceStatus.Paid)
                                {
                                    <span class="badge badge-success"> @Html.DisplayFor(modelItem => item.Status)</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger"> @Html.DisplayFor(modelItem => item.Status)</span>
                                }
                        </td>

                        <td>

                            @*   <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>
